/* * {
    box-sizing: border-box;
}

header, footer{
    grid-column: 1/5;
} */

header {
    background-color: black;
    height: 120px;
    font-size: 90px;
    font-family: 'EB Garamond';
    color: white;
    border: white;
    border-bottom: 10px double white;

}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    /* display: grid;
    min-height: 80vh; */
    /* display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 1fr 30px; */
    /* grid-gap: 5px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app-title {
    display: flex;
    justify-content: center;
    font-size: 90 px;
}

main {
    font-family: 'Bubbler One', sans-serif;
    color: #f4eadb;
    ;
    background-color: black;
    height: 90vh;

}

.subHead {
    font-size: 60px;
}

p {
    font-size: 40px;
}

/* .flex-ctr{
    background-color: dodgerblue;
} */

.getCocktailbtn {
    background-color: black;
    border: 4px solid white;
    font-size: 50px;

}

footer {
    background: url("https://media.architecturaldigest.com/photos/5c6452972a81d22dc23c83f9/16:9/w_2991,h_1682,c_limit/Midnight%20Rambler-TX.jpg");
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    width: 100vw;
}

.flex-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

img {
    width: 300px;
    height: 200 px;
}